body {
    background-color: white;
    color: dimgrey;
    font-family: serif;
    margin: 0;
    padding: 40px;
}

a {
    color: green;
}

.site-grid {
    display: grid;
    gap: 5px;
    max-width: 500px;
    margin: auto;
}

.header {
    display: grid;
    justify-content: right;
}

.intro {
    display: grid;
    gap: 10px;
    text-align: right;
}

.quote-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    align-items: start;
}

.quote-grid blockquote {
    margin: 0;
    line-height: 1.6;
}

.updates {
    border: 3px dotted dimgrey;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.construction {
    display: grid;
    justify-content: center;
}

.label {
    color: green;
    font-family: monospace;
}