body {
    background-color: #000000;
    color: white;
    font-family: Helvetica, sans-serif;
}

.content {
    margin-top: 100px;
    margin-left: 50px;
    width: 80%;
    background-color: #000000;
    color: white;
    font-size: small;
}

.image img {
    width: 150px;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
}