body {
    background-color:"mintcream;";
    color: dimgrey;
    font-family: serif;

p, h1 {
    margin: 0px;
}

.content {
    margin-top: 100px;
    margin-left: 50px;
    width: 80%;
    font-size: small;
}

.colored-box {
  display: flex;
  padding: 15px;
  border: 3px dimgrey;
  width: 500px;
}

.colored-box2 {
  padding: 15px;
  border: 3px dimgrey;
  width: 100px;
}

#countdown {
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}